---

- name: installe openvpn 2.4
  pkgng:
    name: openvpn
    state: present
  tags: openvpn

- name: liens symboliques
  file:
    path: '/usr/local/etc/rc.d/openvpn_{{ item }}'
    src: openvpn
    state: link
  with_items: '{{ openvpn_configs | difference([ "" ]) }}'
  tags: openvpn

- name: enable all openvpn services
  service:
    name: 'openvpn_{{ item }}'
    enabled: yes
  with_items: '{{ openvpn_configs }}'
  tags: openvpn

- name: openvpn config dir
  file:
    dest: /usr/local/etc/openvpn
    mode: '0700'
    state: directory
  tags: openvpn, config

- name: openvpn keys dir
  file:
    dest: /usr/local/etc/openvpn/keys
    state: directory
    mode: '0700'
  tags: openvpn, keys

- name: generate dhparams
  shell: 'openssl dhparam -out /usr/local/etc/openvpn/keys/dh.pem 2048'
  args:
    creates: /usr/local/etc/openvpn/keys/dh.pem
  tags: openvpn, config

- name: dhparam perms
  file:
    dest: /usr/local/etc/openvpn/keys/dh.pem
    state: file
    mode: '0600'
  tags: openvpn, config

- name: copy openvpn state files
  copy:
    src: 'files/openvpn/etc/{{ item }}-ipp.txt'
    dest: '/usr/local/etc/openvpn/{{ item }}-ipp.txt'
    mode: '0600'
  with_items: '{{ openvpn_configs }}'
  tags: openvpn, config
  ignore_errors: True

- name: copy openvpn confs
  copy:
    src: 'files/openvpn/etc/openvpn_{{ item }}.conf'
    dest: '/usr/local/etc/openvpn/openvpn_{{ item }}.conf'
    mode: '0600'
  with_items: '{{ openvpn_configs }}'
  tags: openvpn, config
  notify: restart openvpn

- name: openvpn keys
  copy:
    src: 'files/openvpn/etc/keys/{{ item }}'
    dest: '/usr/local/etc/openvpn/keys/{{ item }}'
    mode: '0400'
  with_items: '{{ openvpn_key_files }}'
  tags: openvpn, keys
  notify: restart openvpn

- name: sysctl if kvm
  sysctl:
    sysctl_file: /etc/sysctl.conf
    name: hw.vtnet.csum_disable
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
  when: ansible_default_ipv4.device == "vtnet0"

- name: start openvpn
  service:
    name: 'openvpn_{{ item }}'
    state: started
  with_items: '{{ openvpn_configs }}'
