---
- name: get ntp servers
  command: "awk '/^server/{print $2}' {{ time_client_config }}"
  register: already_ntp_servers
  changed_when: False
  check_mode: False

- name: get ntp pools
  command: "awk '/^pool/{print $2}' {{ time_client_config }}"
  register: already_ntp_pools
  changed_when: False
  check_mode: False

- name: set pool name
  set_fact:
    poolname: '{% if ansible_os_family == "OpenBSD" %}servers{% else %}pool{% endif %}'
    iburst: '{% if ansible_os_family == "OpenBSD" %}{% else %} iburst{% endif %}'

- name: remove ntp server
  lineinfile:
    path: '{{ time_client_config }}'
    regexp: '^server +{{ ntpserver }}.*'
    state: absent
  loop: '{{ already_ntp_servers.stdout_lines }}'
  loop_control:
    loop_var: ntpserver
    label: '{{ ntpserver }}'
  when: not ntpserver in ntp_servers
  notify: restart time_client

- name: add ntp server
  lineinfile:
    path: '{{ time_client_config }}'
    line: 'server {{ ntpserver }}{{ iburst }}'
    regexp: '^server +{{ ntpserver }}.*'
    state: present
  loop: '{{ ntp_servers }}'
  loop_control:
    loop_var: ntpserver
    label: '{{ ntpserver }}'
  notify: restart time_client

- name: remove ntp pool
  lineinfile:
    path: '{{ time_client_config }}'
    regexp: '^{{ poolname }} +{{ ntppool }}.*'
    state: absent
  loop: '{{ already_ntp_pools.stdout_lines }}'
  loop_control:
    loop_var: ntppool
    label: '{{ ntppool }}'
  when: not ntppool in ntp_pools
  notify: restart time_client

- name: add ntp pool
  lineinfile:
    path: '{{ time_client_config }}'
    line: '{{ poolname }} {{ ntppool }}{{ iburst }}'
    regexp: '^pool +{{ ntppool }}.*'
    state: present
  loop: '{{ ntp_pools }}'
  loop_control:
    loop_var: ntppool
    label: '{{ ntppool }}'
  notify: restart time_client

- name: load and use ptp_kvm on a VM
  block:
    - name: load kernel module
      community.general.modprobe:
        name: ptp_kvm
        persistent: present
        state: present
    - name: add chrony config for PHC
      lineinfile:
        path: '{{ time_client_config }}'
        line: 'refclock PHC /dev/ptp0 poll 2 stratum 3'
      notify: restart time_client
  when: 'ansible_virtualization_role == "guest" and ansible_virtualization_type == "kvm" and ntp_use_ptp_kvm'

- name: add 
  lineinfile:
    path: '{{ time_client_config }}'
    line: 'tos minclock {{ ntp_tos_min_clock }} minsane {{ ntp_tos_min_sane_clock }}'
    regexp: '^tos minclock'
    state: present
  when: actual_min_clock.stdout_lines[0] | default(ntp_tos_min_clock) != ntp_tos_min_clock
