# {{ ansible_managed }}
user	{{ nginx_user }};
worker_processes	{{ nginx_processes }};

error_log	{{ nginx_log_dir }}/nginx-error.log info;
{% if syslog_host %}
error_log syslog:server={{ syslog_host }},facility=local5,tag=nginx;
access_log syslog:server={{ syslog_host }},facility=notice combined;
{% else %}
access_log	{{ nginx_log_dir }}/access.log combined;
{% endif %}

include modules.d/*.conf;

events {
    worker_connections  1024;
}

http {
	include	mime.types;
	default_type	application/octet-stream;

	include log_format.conf;

	server_tokens	off;
	aio on;
	sendfile	on;
	tcp_nopush	on;

	keepalive_timeout	65;

	gzip on;
	gzip_min_length	1100;
	gzip_buffers	4 8k;
	gzip_types	text/plain text/css application/javascript;
	types {
		text/plain	log;
	}
	include conf.d/*.inc;

	include servers.d/*.conf;
}
