{% if "backends" in site and site.backends %}
{% set backends = site.backends %}
{% else %}
{% set backends = [] %}
{% endif %}
# {{ ansible_managed }}
<VirtualHost {% if site.listen | join(" ") is search(':') %}{{ site.listen | join(" ") }}{% else %}{% for l in site.listen %}*:{{ l }} {% endfor %}{% endif %}>
  ServerName {{ site.name }}
{% if "aliases" in site %}
  # aliases
{%   for alias in site.aliases %}
  ServerAlias {{ alias }}

{%   endfor %}
{% endif %}

{% if site.default_index %}
  DirectoryIndex {{ site.default_index }}
{%- endif %}

{% if site.rootdir %}
  DocumentRoot {{ site.rootdir }}

  <Directory {{ site.rootdir }}>
    Require all granted
  </Directory>
{% endif %}

{%- if "tls_cert" in site and "tls_key" in onesite %}
  # TLS config
  SSLEngine on
  SSLCertificateFile {{ tls_dir }}/{{ site.tls_cert }}
  SSLCertificateKeyFile {{ tls_dir }}/private/{{ site.tls_key }}

{%   if "hsts" in site %}
  # + HSTS
  Header unset Strict-Transport-Security
  Header set Strict-Transport-Security "max-age={{ site.hsts | default('31536000') }}"
{%-   endif %}

{%   if "backends" in site %}
  # reverse-proxy HTTPS
  RequestHeader set X-Forwarded-Proto "https"
  RequestHeader set X-Forwarded-Port "443"
{%   endif %}
{%- endif %}

{% if backends | count() > 0 %}
  # backends: {{ backends | join(",") }}
  # keep host name in request
  ProxyPreserveHost On
{%   if backends | count() > 1 %}
  # load balancer
  # set cookie for sticky-sessions
  Header add Set-Cookie "{{ site.id }}B=.%{BALANCER_WORKER_ROUTE}e; path=/" env=BALANCER_ROUTE_CHANGED
  <Proxy balancer://{{ site.id }}>
{%     for backend in backends %}
    BalancerMember {{ backend }}{% if backend is not search("route=") %} route={{ backend | regex_replace("^.*//([^/\.]*).*","\\1") }}{% endif %}

{%     endfor %}
    Require all granted
    ProxySet stickysession={{ site.id }}B timeout=3
  </Proxy>
{%     if site.prefixes | count() == 1 and site.prefixes[0].path is regex('^/$') %}
  ProxyPass / balancer://{{ site.id }}/
  ProxyPassReverse / balancer://{{ site.id }}/
{%     endif %}

{%     if admin_from %}
  # balancer-manager from admin ip's
  <Location /balancer-manager>
    SetHandler balancer-manager
{%       for net in admin_from %}
    Require ip {{ net }}
{%       endfor %}
  </Location>
  ProxyPass /balancer-manager !
{%     endif %}

{%   elif backends | count() == 1 and site.prefixes | count() == 1 and site.prefixes[0].path is regex('^/$') %}
  # simple reverse-proxy (backends = {{ backends[0] }})
  <Proxy {{ backends[0] | regex_replace(" .*$","")}}>
    Require all granted
  </Proxy>
  ProxyPass / {{ backends[0] | regex_replace(" .*$","") }}/{% if backends[0] is search("=") %} {{ backends[0] | regex_replace("^[^ ]* ","") }}{% endif %}

  ProxyPassReverse / {{ backends[0] | regex_replace(" .*$","") }}/

{%   endif %}
{%   if monitoring_from | count > 0 and site.fcgi_status_path %}
  # monitoring
  <Location {{ site.fcgi_status_path }}>
{%     for net in monitoring_from %}
    Require ip {{ net }}
{%     endfor %}
  </Location>
{%   endif %}
{% endif %}

{% if "backend" in site and site.backend == "php-fpm" %}
  # backend = php-fpm, fcgisocket = {{ site.fcgisocket }}
  <FilesMatch ".*\.php$">
{% if site.fcgisocket is match ("^/") %}
    SetHandler "proxy:unix:{{ site.fcgisocket }}|fcgi://localhost/"
{% else %}
    SetHandler "proxy:fcgi://fcgisocket"
{% endif %}
  </FilesMatch>
{% endif %}

{% if "apache_includes" in site %}
  # site.apache_includes
{%   for include in site.apache_includes %}
  Include {{ apache_etcdir }}/{{ include | basename | regex_replace(".j2$","") }}

{%   endfor %}
{% endif %}

{% for prefix in site.prefixes %}
  # prefix {{ prefix.path }}
  <Location {{ prefix.path }}>
{%   if "apache_includes" in prefix and prefix.apache_includes | count > 0 %}
    # prefix."{{ prefix.path }}".apache_includes
{%     for include in prefix.apache_includes %}
    Include {{ apache_etcdir }}/{{ include | basename | regex_replace(".j2$","") }}

{%     endfor %}
{%   endif %}

{%   if prefix.allow_from_nets | default([]) | count > 0 %}
    # prefix."{{ prefix.path }}".allow_from_nets
{%     for net in prefix.allow_from_nets %}
    Require ip {{ net }}
{%     endfor %}
    Require all denied
{%   else %}
{%     if not "apache_includes" in prefix %}
    Require all granted
{%     endif %}
{%   endif %}
{%   if "backends" in site and backends | count() > 1 %}
{%     if site.prefixes | count() == 1 or site.prefixes[0].path is not regex('^/$') %}
    ProxyPass balancer://{{ site.id }}{{ prefix.path }}
    
    ProxyPassReverse balancer://{{ site.id }}{{ prefix.path }}
{%     endif %}
{%   elif backends | count() == 1 %}
    ProxyPass {{ backends[0] | regex_replace(" .*$","") }}{{ prefix.path }}{% if backends[0] is search("=") %} {{ backends[0] | regex_replace("^[^ ]* ","") }}{% endif %}
    
    ProxyPassReverse {{ backends[0] | regex_replace(" .*$","") }}{{ prefix.path }}
{%   endif %}
  </Location>
{% endfor %}

{% if "cache" in site %}
# site.cache: {{ site.cache | count() }} items
{% for c in site.cache %}
  CacheEnable {{ c }}

{% endfor %}
{% endif %}

{% if "redirectmatch" in site %}
# site.redirectmatch: {{ site.redirectmatch | count() }} items
{% for red in site.redirectmatch %}
  RedirectMatch {{ site.redirectmatch.type | default("temp") }} "{{ site.redirectmatch.regex }}" {{ site.redirectmatch.dest }}

{% endfor %}
{% endif %}

{% if monitoring_from | count > 0 and site.status_path %}
  # status URL from monitoring
  <Location {{ site.status_path }}>
    SetHandler server-status
{%   for net in monitoring_from %}
    Require ip {{ net }}
{%   endfor %}
  </Location>
{% endif %}

</VirtualHost>

{% if site.tls and site.tls_redir %}
<VirtualHost {% for l in site.listen %}{% if l is search(':') %}{{ l | regex_replace(':.*',':80') }} {% else %}*:80{% endif %}{% endfor %}>
  ServerName {{ site.name }}
{% if "aliases" in site %}
{%   for alias in site.aliases %}
  ServerAlias {{ alias }}

{%   endfor %}
{% endif %}
  Redirect permanent "/" "https://{{ site.name }}{% if not site.listen | join(" ") | regex_search(':?443') %}:{{ site.listen | join(" ") | regex_replace('.*:','') }}{% endif %}/"
</VirtualHost>
{% endif %}
