# ANSIBLE MANAGED
global
    log /dev/log    local5 notice
    user nobody
{% if haproxy_maxconn | default(False) %}
    maxconn {{ haproxy_maxconn }}
{% endif %}
{% for glob in haproxy_global_config | default([]) %}
    {{ glob }}
{% endfor %}
    daemon

defaults
    log global
{% for glob in haproxy_defaults_config | default([]) %}
    {{ glob }}
{% endfor %}
    timeout connect {{ haproxy_connect_timeout | default("5000ms") }}
    timeout client  {{ haproxy_client_timeout | default("50000ms") }}
    timeout server  {{ haproxy_server_timeout | default("50000ms") }}

{% if haproxy_stats_port %}
listen stats
    mode http
    bind {{ haproxy_stats_address }}:{{ haproxy_stats_port }}{% if haproxy_stats_address is not match("^[0-9\.]*$") %} v4v6{% endif +%}
    mode http
    maxconn 10
    stats enable
    acl is_admin src 127.0.0.1
    acl is_admin src ::1
{% if admin_from | count > 0 %}
    # ips from ansible's admin_from variable
{%   for admin in admin_from %}
    acl is_admin src {{ admin }}
{%   endfor %}
{% endif %}
    stats admin if is_admin
    stats uri {{ haproxy_stats_path }}
{% endif %}

{% for proxy in haproxy_proxies %}
# START ansible proxy {{ proxy.name }}
listen {{ proxy.name }}
{%   for bind in proxy.binds %}
  bind {{ bind }}
{%   endfor %}
  balance {{ proxy.balance | default("leastconn") }}
  mode {{ proxy.mode | default("tcp") }}
{%   if proxy.clienttimeout | default(False) %}
  timeout client {{ proxy.clienttimeout }}
{% endif %}
{%   if proxy.servertimeout | default(False) %}
  timeout server {{ proxy.servertimeout }}
{% endif %}
{%   for opt in proxy.options | default([]) %}
  option {{ opt }}
{%   endfor %}
{%   for line in proxy.lines | default([]) %}
  {{ line }}
{% endfor %}
{%   if proxy.backend | default(False) %}
#  auto-list from group {{ proxy.backend.group }}
{%     for backend_hostname in groups[proxy.backend.group] %}
     server {{ backend_hostname }} {{ hostvars[backend_hostname]["ansible_fqdn"] | default(backend_hostname) }}:{{ proxy.backend.port | default(proxy.backends_port) }} {{ proxy.backend.opts | default("") }}
{%     endfor %}
{%   else %}
{%     for backend in proxy.backends %}
  server {{ backend.name }} {{ backend.address }}:{{ backend.port | default(proxy.backends_port) }} {{ backend.opts | default(proxy.backends_opts) }}{{ backend.is_backup | default(False) | ternary(" backup", "") }}
{%     endfor %}
{%   endif %}
# END ansible proxy {{ proxy.name }}
{% endfor %}
