---
- name: restart sshd
  service:
    name: '{{ ssh_service_name | default("sshd") }}'
    state: restarted

- name: debian regen locales
  command: /usr/sbin/locale-gen

- name: post-upgrade
  command: '/root/post-upgrade.sh'
  when: post_upgrade_script.stat.exists | default(False)
