#!/bin/sh
#
# compte les membres sur chaque noeud
n=0
. /root/.galera.nodes
[ -n "$NODES" ] || exit 1
for node in $NODES; do
  nn=$(set -o pipefail && /usr/local/bin/mysql --no-defaults -h $node -P {{ mariadb_port }} -u {{ galera.galeracheck.user }} -p{{ galera.galeracheck.pass }} -e "SHOW STATUS LIKE 'wsrep_cluster_size';" -B | awk '/^wsrep_cluster_size/{print $2}') || continue
  if [ $n -eq 0 ]; then
    n=$nn
  fi
  if [ $n -ne $nn ]; then
    # si les noeuds sont pas tous ok, exit now !
    echo "$node not ok (wsrep_cluster_size = $nn vs $n)"
    exit 1
  fi
done

r=$(( n % 2 ))
if [ $n -gt 0 -a $r -eq 0 ]; then
  if pgrep garb; then
    /usr/sbin/service garb onestop
  else
    /usr/sbin/service garb onestart
  fi
fi

