---
- name: Installe CA local
  copy:
    src: '{{ x509_ca_file }}'
    dest: '{{ x509_ca_path }}'
    owner: root
    group: '0'
    mode: '0644'
  when: x509_ca_file != ""

# tasks file for criecm.x509
- name: os tasks
  include_tasks: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_os_family }}.yml'
      skip: True
  when: x509_ca_file != ""
