# {{ ansible_managed }}
server:
{% for ip in nsd_adresses %}
{% if not ip | match("fe80") %}	ip-address: {{ip}}
{% endif %}
{% endfor %}
{% if nsd_port != 53 %}	port: {{ nsd_port }}
{% endif %}
	verbosity: 1
	zonesdir: {{ nsd_zonesdir }}
	database: {{ nsd_dbdir }}/nsd.db
	identity: "our nameserver"

remote-control:
	control-enable: yes
	control-port: 8952
{% if is_jail %}
	control-interface: {{ ansible_all_ipv4_addresses[0] }}
{% endif %}

{% if nsd_keys %}{% for key in nsd_keys %}
key:
{% for key, value in key.items() %}
	{{ key }}: "{{ value }}"
{% endfor %}

{% endfor %}
{% endif %}
{% if nsd_patterns %}{% for pattern in nsd_patterns %}
pattern:
{% for key, value in pattern.items() %}
{% if value is string %}
	{{ key }}: {{ value }}
{% else %}
{% for v in value %}
	{{ key }}: {{ v }}
{% endfor %}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}

include: {{ nsd_configdir }}/conf.d/*.conf

