# {{ ansible_managed }}
# TYPE	DATABASE	USER	ADDRESS	METHOD
local	all	{{ pg_owner }}		trust

{% for h in pg_allowed_hosts | default([]) %}
host	all	all	{{ h }}	md5
{% endfor %}

{% if pg_admin_password != '' %}
host	all	{{ pg_admin_user }}	{{ pg_admin_host | default("localhost") }}	md5
{% endif %}

{% for u in pg_users | default([]) | union(pg_maintenance_users) %}
{% if u.host is not defined %}
{% set fromaddr = "all" %}
{% elif u.host is match("/[0-9]+$") %}
{% set fromaddr = u.host %}
{% elif u.host is match("\.") %}
{% set fromaddr = u.host + "/32" %}
{% elif u.host is match(":") %}
{% set fromaddr = u.host + "/128" %}
{% endif %}
host	{{ u.db	| default("all") }}	{{ u.name }}	{{ fromaddr | default("all") }}	{% if u.password %}md5{% else %}trust{% endif %}

{% endfor %}
