# {{ ansible_managed }}
# TYPE	DATABASE	USER	ADDRESS	METHOD
local	all	{{ pg_owner }}		ident

{% for h in pg_allowed_hosts | default([]) %}
host	all	all	{{ h }}	md5
{% endfor %}

{% if pg_admin_password != '' %}
host	all	{{ pg_admin_user }}	{{ pg_admin_host | default("all") }}	md5
{% endif %}

{% for u in pg_users | default([]) | union(pg_maintenance_users) %}
host	{{ u.db	| default("all") }}	{{ u.name }}	{% if u.host | default(False) %}{{ u.host }}/32{% else %}all{% endif %}	md5
{% endfor %}

