# {{ ansible_managed }}
domain {{ ansible_domain }}
{% if is_resolver | bool() %}nameserver 127.0.0.1
{% endif %}
{% for ns in nameservers %}
{% if ns.ip | ipv4 %}
{% if ansible_all_ipv4_addresses | join(',') | match(ns.match) %}nameserver {{ns.ip}}
{% endif %}
{% endif %}
{% if ns.ip | ipv6 %}
{% if ansible_all_ipv6_addresses | join(',') | match(ns.match) %}nameserver {{ns.ip}}
{% endif %}
{% endif %}
{% endfor %}
