## upstream
{% if "upstream" in site %}
{%   set upstream = site.upstream %}
# upstream=site.upstream={{ site.upstream }}
{% else %}
# upstream=site.id={{ site.id }}
{%   set upstream = site.id %}
{% endif %}

{% if site.backends | count > 0 %}
# upstream={{ upstream }}
upstream {{ upstream }} {
# site.backends={{ site.backends }}
{%   for srv in site.backends %}
	server {{ srv }};
{%   endfor %}
{%   if site.backends | count > 1 %}
	sticky cookie {{ site.id }}LBID expires=1h path=/;
{%   endif %}
}
{% elif "fcgisocket" in site %}
# no site.backends but "fcgisocket" in site
{%   set upstream = upstream | default(site.id) %}
upstream {{ upstream }} {
	  server {% if site.fcgisocket | regex_search("^\/") %}unix:{% endif %}{{ site.fcgisocket }};
}
{% endif %}
{% if site.tls_redir | default(False) and not proxified_by %}
## redirect http to https
# site.tls_redir | default(False) and not proxified_by
server {
{% if ansible_os_family in [ "FreeBSD", "OpenBSD" ] %}
	listen *:80;
	listen [::]:80;
{% else %}
	listen 80;
{% endif %}
	server_name	{{ site.name }}{% if site.aliases | count > 0 %} {{ site.aliases | join(" ") }}{% endif %};
	rewrite ^(.*) https://{{ site.name }}$1 permanent;
}
{% endif %}

server {
{% if "listen" in site %}
# site.listen={{ site.listen }}
{%   for l in site.listen %}
        listen {{ l }}{% if site.tls_cert %} ssl{% if site.http2 %} http2{% endif %}{% endif %};
{%   endfor %}
{% else %}
{%   if proxified_by %}
# proxified_by={{ proxified_by }}
{% if ansible_os_family in [ "FreeBSD", "OpenBSD" ] %}
	listen *:80;
	listen [::]:80;
{% else %}
	listen 80;
{% endif %}
{%   else %}
# site.listen_ips={{ site.listen_ips }}
{%     for ip in site.listen_ips %}
	listen	{{ ip }}:{{ port }}{% if site.tls_cert %} ssl{% if site.http2 %} http2{% endif %}{% endif %};
{%     endfor %}
{%     if site.tls_cert %}
	ssl_certificate {{ tls_certs_dir }}/{{ site.name }}.crt;
	ssl_certificate_key {{ tls_certs_dir }}/private/{{ site.name }}.key;
{%       if site.x509_stapling_chain %}
	ssl_trusted_certificate {{ tls_certs_dir }}/{{ site.x509_stapling_chain | basename}};
	ssl_stapling    on;
	ssl_stapling_verify     on;
{%       endif %}
{%       if site.hsts | int | default(31536000) > 0 %}
	add_header Strict-Transport-Security "max-age={{ site.hsts | default(31536000) }}";
{%       endif %}
{%     endif %}
{%   endif %}
{% endif %}

{% if "headers" in site %}
# site.headers={{ site.headers }}
{%   for h in site.headers %}
       add_header {{ h.name }} "{{ h.value }}" always;
{%   endfor %}
{% endif %}

{% if site.upload_max_meg | default(0) > 0 %}
# site.upload_max_meg={{ site.upload_max_meg }}
	client_max_body_size {{ ( site.upload_max_meg | int * 1.6 ) | round(0,'ceil') | int }}m;
{% endif %}

{% if proxified_by %}
# proxified_by={{ proxified_by }}
{%   for net in proxified_by %}
	set_real_ip_from {{ net }};
{%   endfor %}
	real_ip_header X-Forwarded-For;
{% endif %}

	server_name	{{ site.name }}{% if site.aliases %} {{ site.aliases | join(" ") }}{% endif %};

{% if not site.nginx_includes | list() %}
	location / {
		root	{{ site.rootdir }};
		index	{{ site.default_index | default("index.html index.htm") }};
	}
{%   if "backend" in site and "php" in site.backend %}
# site.backend={{ site.backend }}
	location ~ "^.*\.php(?:/.*)?" {
		root	{{ site.rootdir }};
		fastcgi_split_path_info ^(.+?\.php)(/.*)$;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		include fastcgi_params;
		fastcgi_pass {% if upstream %}{{ upstream }}{% else %}{% if site.fcgisocket | match("\/.*") %}unix:{% endif %}{{ site.fcgisocket }}{% endif %};
	}
{%   endif %}
{% endif %}

{% if "fcgi_status_path" in site and "fcgisocket" in site %}
	# fastcgi status
	location = {{ site.fcgi_status_path }} {
# monitoring_from = {{ monitoring_from | join(',') }}
# admin_from = {{ admin_from | join(',') }}
{% for netw in monitoring_from + admin_from | list | unique %}
		allow {{ netw }};
{% endfor %}
		deny all;
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass {% if upstream %}{{ upstream }}{% else %}{% if site.fcgisocket | match("\/.*") %}unix:{% endif %}{{ site.fcgisocket }}{% endif %};
	}
{% endif %}

{% if site.status_path %}
	location = {{ site.status_path }} {
{% for net in monitoring_from + admin_from | list | unique %}
		allow {{ net }};
{% endfor %}
		status;
		deny all;
	}
{% endif %}

{% for inc in site.nginx_includes %}
# site.nginx_includes
	include {{ inc | basename | regex_replace("\.j2$","") }};
{% endfor %}

	error_page	500 502 503 504	/50x.html;
}
