{% if site.backends | count > 0 %}
{%   set upstream = site.id %}
upstream {{ upstream }} {
{%   for srv in site.backends %}
	server {{ srv }};
{%   endfor %}
{%   if site.backends | count > 1 %}
	sticky cookie {{ site.id }}LBID expires=1h path=/;
{%   endif %}
}
{% elif "fcgisocket" in site %}
{%   set upstream = site.id %}
{%   if site.fcgisocket | regex_search("^\/") %}
{%     set server = "unix:"+site.fcgisocket %}
{%   else %}
{%     set server = site.fcgisocket %}
{%   endif %}
upstream {{ upstream }} {
	server {{ server }};
}
{% endif %}
{% if "tls_redir" in site and site.tls_redir and not proxified_by %}
server {
	listen 80;
	server_name	{{ site.name }}{% if site.aliases | count > 0 %} {{ site.aliases | join(" ") }}{% endif %};
	rewrite ^(.*) https://{{ site.name }}$1 permanent;
}
{% endif %}

server {
{% if "listen" in site %}
{%   for l in site.listen.split(" ") %}
        listen {{ l }}{% if site.tls_cert %} ssl{% if site.http2 %} http2{% endif %}{% endif %};
{%   endfor %}
{% else %}
{%   if proxified_by %}
	listen 80;
{%   else %}
{%     for ip in site.listen_ips %}
	listen	{{ ip }}:{{ port }} {% if site.tls_cert %} ssl{% if site.http2 %} http2{% endif %}{% endif %};
{%     endfor %}
{%     if site.tls_cert %}
	ssl_certificate {{ tls_certs_dir }}/{{ site.name }}.crt;
	ssl_certificate_key {{ tls_certs_dir }}/private/{{ site.name }}.key;
{%       if site.x509_stapling_chain %}
	ssl_trusted_certificate {{ tls_certs_dir }}/{{ site.x509_stapling_chain | basename}};
	ssl_stapling    on;
	ssl_stapling_verify     on;
{%       endif %}
{%       if site.tls_hsts | default(31536000) > 0 %}
	add_header Strict-Transport-Security "max-age={{ site.tls_hsts | default(31536000) }}";
{%       endif %}
{%     endif %}
{%   endif %}
{% endif %}

{% if "headers" in site %}
{%   for h in site.headers %}
       add_header {{ h.name }} "{{ h.value }}" always;
{%   endfor %}
{% endif %}

{% if site.upload_max_meg | default(0) > 0 %}
	client_max_body_size {{ ( site.upload_max_meg | int * 1.3 ) | round(0,'ceil') | int }}m;
{% endif %}

{% if proxified_by %}
{%   for net in proxified_by %}
	set_real_ip_from {{ net }};
{%   endfor %}
	real_ip_header X-Forwarded-For;
{% endif %}

	server_name	{{ site.name }}{% if site.aliases %} {{ site.aliases | join(" ") }}{% endif %};

{% if not site.nginx_includes | list() %}
	location / {
		root	{{ site.rootdir }};
		index	{{ site.default_index | default("index.html index.htm") }};
	}
{%   if "backend" in site and "php" in site.backend %}
	location ~ "^.*\.php(?:/.*)?" {
		root	{{ site.rootdir }};
		fastcgi_split_path_info ^(.+?\.php)(/.*)$;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		include fastcgi_params;
		fastcgi_pass {% if upstream %}{{ upstream }}{% else %}{% if site.fcgisocket | match("\/.*") %}unix:{% endif %}{{ site.fcgisocket }}{% endif %};
	}
{%   endif %}
{% endif %}

{% include "status.inc.j2" %}

{% for inc in site.nginx_includes %}
	include {{ inc | basename | regex_replace("\.j2$","") }};
{% endfor %}

	error_page	500 502 503 504	/50x.html;
}
{% endif %}
