#!/bin/sh

# PROVIDE: {{ node_app.name }}
# REQUIRE: LOGIN
# KEYWORD: shutdown

# Add {{ node_app.name }}_enable="YES" to rc.conf

. /etc/rc.subr

name={{ node_app.name }}
desc="node app $name"
rcvar=${{ '{' }}name{{ '}' }}_enable

load_rc_config ${{ '{' }}name{{ '}' }}

{{ node_app.name }}_enable="${{ '{' }}{{ node_app.name }}_enable:-NO{{ '}' }}"
{{ node_app.name }}_script="${{ '{' }}{{ node_app.name }}_script:-{{ node_app.path }}/{{ node_app.script }}{{ '}' }}"
{{ node_app.name }}_chdir="{{ node_app.chdir | default(node_app.path) }}"
{{ node_app.name }}_procname="node_{{ node_app.name }}"
{{ node_app.name }}_env="NODE_ENV={{ node_app.env | default('prod') }}{% for envvar in node_app.envvars.keys() %} {{ envvar }}='{{ node_app.envvars[envvar] }}'{% endfor %}"

pidfile="/var/run/{{ node_app.name }}.pid"
command=/usr/sbin/daemon
command_args="-rP $pidfile -u {{ node_app.user }} {% if node_app.use_syslog %}-T '{{ node_app.syslog_tag | default(node_app.name) }}' {% endif %}-t '{{ node_app.name }}' /usr/local/bin/node {{ node_app.nodeargs | default("") }} ${{ '{' }}{{ node_app.name }}_script{{ '}' }}{% if node_app.scriptargs is defined %}{% for arg, value in node_app.scriptargs.items() %} --{{ arg }} {{ value }}{% endfor %}{% endif %}"

start_precmd()
{
  if ! test -r ${{ node_app.name }}_script; then
    echo "${{ node_app.name }}_script isn't readable by ${{ node_app.user }} or doesn't exist"
    return 1
  fi
  # Have to empty rc_flags so they don't get passed to daemon(8)
  rc_flags=""
}

run_rc_command "$1"
