---
- name: install wpcli
  get_url:
    url: 'https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar'
    dest: '/usr/local/bin/wp'
    mode: '0755'

- name: wp sites
  include_tasks: 'wpsite.yml'
  loop_control:
    loop_var: onewpsite
  loop: '{{ sites }}'
  #loop: '{% if mysite %}{{ sites | selectattr("id","equalto",mysite) }}{% else %}{{ sites }}{% endif %}'
  when: 'mysite == "" or mysite == onewpsite.id'

- name: set wpcli fact
  set_fact:
    wpcli: /usr/local/bin/wp

- name: cron update wp cli
  cron:
    name: update wp cli
    job: 'echo y | wp cli update >> /var/log/wp_cli_update.log'
    minute: '38'
    hour: '22'
    dow: '7'

