# {{ ansible_managed }}
#
# ¡¡¡ ALL CHANGES WILL BE LOST !!!
#
# dans ansible:
#  1. ajouter le lun dans inventory/host_vars/{{ inventory_hostname }}.yml
#  2. lancer:
#     ansible-playbook [-t vars,iscsi] -l {{ inventory_hostname }} playbooks/filers.yml
#
{# ns: il faut un namespace pour la portee de iqn dans la boucle #}
{% set ns = namespace(iqn=iscsi_iqn|default(''),dom='') %}
{% if iscsi_iqn | default(False) %}
{%   set ns.iqn = iscsi_iqn %}
{% else %}
{%   for part in iscsi_domain.split('.') %}
{%     set ns.dom = part+'.'+ns.dom %}
{%   endfor %}
{%   set ns.iqn = iscsi_iqn_base+'.'+ns.dom+ansible_hostname %}
{% endif %}
{% set iqn = ns.iqn %}
# ansible-generated iqn: {{ iqn }}
# iscsi_domain: {{ iscsi_domain }}
#
auth-group {{ iscsi_auth_group }} {
  auth-type {{ iscsi_auth_type }}
  initiator-portal {{ iscsi_network_cidr }}
}

portal-group {{ iscsi_portal_group }} {
  listen {{ iscsi_listen_ip }}
  discovery-auth-group {{ iscsi_auth_group }}
}

{% for target in iscsi_targets.keys() %}
target {{ iscsi_targets[target].iqn | default(iqn) }}:{{ target | default(iscsi_target) }} {
  auth-group {{ iscsi_targets[target].authgroup | default(iscsi_auth_group) }}
  portal-group {{ iscsi_targets[target].portalgroup | default(iscsi_portal_group) }}
{%   for opt in iscsi_targets[target].opts | default({}) %}
  {{ opt }} {{ iscsi_targets[target].opts[opt] }}
{%   endfor %}
{%   for lunid in iscsi_targets[target].luns.keys() %}
{% set lun = iscsi_targets[target].luns[lunid] %}
  lun {{ lunid }} {
    device-id {{ lun["device-id"] | default(inventory_hostname+'%04d' | format(lunid)) }}
    path {{ lun.path }}
{%     if "opts" in lun.keys() %}
{%       set opts=lun.opts %}
{%     else %}
{%       set opts={ "option vendor":"FreeBSD" } %}
{%     endif %}
{%     for opt in opts.keys() %}
    {{ opt }} {{ opts[opt] }}
{%     endfor %}
{%     if not "option vendor" in opts.keys() %}
    option vendor FreeBSD
{%     endif %}
{%     if not "serial" in opts.keys() %}
    serial {{ inventory_hostname }}{{ '%04d' | format(lunid) }}
{%     endif %}
  }
{%   endfor %}
}

{% endfor %}
