---
# taches communes ECM
- name: os vars
  include_vars: '{{ includefile }}'
  with_first_found:
    - files:
        - '{{ ansible_os_family }}.yml'
        - skip: True
  loop_control:
    loop_var: includefile
  tags: vars

- name: get date
  command: 'date +%s'
  register: now
  changed_when: False
  check_mode: False
  tags: vars

- name: set_fact do_sys
  set_fact:
    do_sys: '{% if "criecm" in ansible_local and
          ( ( ansible_local.criecm.common.version | default(0) | int ) >= ( common_version | int )
            or ( ansible_local.criecm.common.last | default(0) | int ) >= ( now.stdout | int - 86400) )
          and not do_sysadm %}no{% else %}yes{% endif %}'
  tags: vars

- name: os specific tasks
  include_tasks: '{{ includefile }}'
  with_first_found:
    - files:
        - '{{ ansible_os_family }}.yml'
      errors: 'ignore'
  loop_control:
    loop_var: includefile
  tags: vars

- name: display do_sys
  debug:
    var: do_sys

- name: stat post-upgrade script
  stat:
    path: /root/post-upgrade.sh
  register: post_upgrade_script

- name: resolv.conf
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    owner: root
    mode: '0644'
    backup: yes
  tags: resolver
#  when: not is_jail and ( do_sys or do_resolvconf )
  when: do_sys | bool and do_resolvconf | bool

- name: facts.d
  file:
    path: '{{ etcprefix }}/etc/ansible/facts.d'
    state: directory

- name: /etc/ansible link
  file:
    dest: '/etc/ansible'
    src: '{{ etcprefix }}/etc/ansible'
    state: link
  when: etcprefix != ""

# pkgs
- name: install packages
  include_tasks: 'pkgs-{{ ansible_os_family }}.yml'
  tags: pkg

# root shell config
- name: root shell
  include_tasks: rootshell.yml
  when: do_sys | bool and root_shell | length > 0
  tags: rootshell

# vimrc
- name: root vimrc
  copy:
    src: vimrc
    dest: .vimrc
    force: no
  tags: vimrc

# post-upgrade.sh script
- name: post-upgrade.sh
  copy:
    dest: /root/post-upgrade.sh
    content: |
      #!/bin/sh
    mode: '0755'
    force: no

# ocsinventory agent
- name: ocsinventory agent
  include_tasks: 'ocsinventory-{{ ansible_os_family }}.yml'
  when: ocsinventory_server | length > 0 and not is_jail | bool and not is_vm | bool and do_sys | bool
  tags: ocsinventory

- name: fact done
  blockinfile:
    path: '{{ etcprefix }}/etc/ansible/facts.d/criecm.fact'
    marker: '# {mark} ANSIBLE criecm.common BLOCK'
    block: |
      [common]
      version={{ common_version }}
      is_jail={{ is_jail }}
      is_vm={{ is_vm }}
      last={{ now.stdout }}
    create: yes
  when: do_sys | bool
