#!/bin/sh
echo -n '{"dbs": ['
su {{ pg_owner }} -c "{{ prefix | default('/usr') }}/bin/psql -qlAt" | awk 'BEGIN {FS="|"; FIRST="";} {
  if ($1 !~ /(postgres|template)/) {
    printf("%s\"%s\"",FIRST,$1);
    FIRST=",";
  }
}'
echo -n ']}'
