# default config - ansible generated

{% if ansible_default_ipv4 | count() > 0 %}
subnet {{ ansible_default_ipv4.network }} netmask {{ ansible_default_ipv4.netmask }} {
	
}
{% else %}
{% for if in ansible_interfaces %}
{% if hostvars[inventory_hostname]['ansible_%s' | format(if)]["ipv4"] | count() > 0 %}
# empty subnet for {{ if }}
subnet {{ hostvars[inventory_hostname]['ansible_%s' | format(if)]["ipv4"][0]["network"] }} netmask {{ hostvars[inventory_hostname]['ansible_%s' | format(if)]["ipv4"][0]["netmask"] }} {
}
{% endif %}
{% endfor %}
{% endif %}
