---
# packages
- name: packages
  apt:
    name: '{{ debian_base_pkgs + role_pkgs + host_pkgs + pkgs }}'
    state: present
  tags: pkgs

- name: upgrade all if wanted
  apt:
    update_cache: True
    upgrade: safe
  when: do_upgrade | default(False) | bool

- name: pkgs pkg machine physique
  apt:
    name:
      - ntpdate
    state: present
  when: not is_jail | bool and not is_vm | bool
  tags: pkgs

- name: force setup after pkg upgrade
  ansible.builtin.setup:
    gather_subset: [ "min" ]
  when: do_upgrade | default(False) | bool
