---
# tasks file for criecm.mongodb
- name: check install
  stat:
    path: '{{ mongo_dbpath }}/admin'
  register: mongoadmin

- name: install
  pkgng:
    name:
      - mongodb40
      - py37-pymongo
    state: present
  register: mongopkg

- name: zfs
  zfs:
    name: '{{ mongo_zfs }}'
    state: present
    extra_zfs_properties:
      compression: on
      mountpoint: '{{ mongo_dbpath }}'
  register: mongonewzfs
  when: mongo_zfs is defined

- name: chown
  file:
    path: '{{ mongo_dbpath }}'
    owner: mongodb
    group: mongodb
    recurse: yes
  when: not mongoadmin.stat.exists or mongonewzfs.changed

- name: check root
  mongodb_user:
    name: '{{ mongo_root_user }}'
    database: 'admin'
    login_database: admin
    password: '{{ mongo_root_pass }}'
    login_password: '{{ mongo_root_pass }}'
    login_user: '{{ mongo_root_user }}'
    roles:
      - dbAdminAnyDatabase
      - userAdminAnyDatabase
  register: mongoroot
  ignore_errors: True

- name: check fqdn in /etc/hosts
  command: 'grep "^127\.0\..* {{ ansible_fqdn }}" /etc/hosts'
  register: etchosts
  changed_when: False
  failed_when: false

- name: patch /etc/hosts
  replace:
    path: /etc/hosts
    regexp: '^(127\.0.*localhost.*)$'
    replace: '\1 {{ ansible_fqdn }}'
  when: etchosts.stdout_lines | count < 1

- debug: var=mongoroot

- name: (re)set root using localhost exception
  block:
    - name: stop mongodb
      service:
        name: mongod
        state: stopped
    - name: temp config
      copy:
        dest: '{{ etcprefix }}/etc/mongodb.conf'
        content: |
          # ansible
          storage:
              dbPath: '{{ mongo_dbpath }}'
              directoryPerDB: true
          systemLog:
              destination: syslog
              verbosity: 0
              syslogFacility: daemon
          storage:
          {% if mongo_engine == "wiredTiger" %}
              wiredTiger:
                  engineConfig:
                      cacheSizeGB: '{{ mongo_memlimit | default(ansible_memtotal_mb * 512) / 1024 | int }}'
          {% endif %}
              engine: {{ mongo_engine }}
          processManagement:
              timeZoneInfo: /usr/share/zoneinfo
          {% if mongo_replication_set %}
          replication:
            replSetName: {{ mongo_replication_set }}
          {% endif %}
        backup: yes
    - name: start mongodb
      service:
        name: mongod
        state: started
        enabled: yes
#    - name: init replicaset
#      shell: "echo '{rs.initiate()}' | mongo"
#      when: mongo_replication_set | default(False)
    - name: initiate replication set
      mongodb_replicaset:
        replica_set: '{{ mongo_replication_set }}'
        members:
          - '{{ ansible_fqdn }}:27017'
        validate: no
      when: mongo_replication_set | default(False)
    - name: wait for rs 
      wait_for:
        timeout: 15
    - name: root user
      mongodb_user:
        name: '{{ mongo_root_user }}'
        database: admin
        password: '{{ mongo_root_pass }}'
        roles:
          - dbAdminAnyDatabase
          - userAdminAnyDatabase
        update_password: on_create
    - name: restart mongodb
      service:
        name: mongod
        state: restarted
    - name: wait for rs 
      wait_for:
        timeout: 15
  when: not mongoadmin.stat.exists or mongoroot.failed

- name: end config
  blockinfile:
    dest: '{{ etcprefix }}/etc/mongodb.conf'
    block: |
      net:
          ipv6: true
      {% if mongo_bindips is defined %}
          bindIp: '{{ mongo_bindips }}'
      {% endif %}
          port: {{ mongo_port | default("27017") }}
      security:
          authorization: {{ mongo_auth }}
    marker: '# {mark} ANSIBLE BLOCK mongoconf'
  notify: restart mongodb

- debug:
    var: mongos

- name: mongos
  include_tasks: 'mongo.yml'
  loop: '{{ mongo_global_users + mongos }}'
  loop_control:
    loop_var: mongo
    label: '{{ mongo.name }}'
