---
# tasks file for criecm.mongodb
- name: check install
  stat:
    path: '{{ mongo_dbpath }}/admin'
  register: mongoadmin

- name: get installed version
  command: 'pkg query -x "%v" "mongodb[0-9]"'
  check_mode: False
  register: pkgvers
  changed_when: False
  failed_when: false

- name: install
  pkgng:
    name:
      - 'mongodb{{ mongo_major_version }}0'
      - mongodb-tools
      - 'py{{ ansible_python_version | regex_replace("([2-3])\.([0-9]*)\..*$","\1\2") }}-pip'
    state: present
  register: mongopkg
  when: pkgvers.stdout is match('^$')

- name: pymongo
  block:
    - package:
        name: 'py{{ ansible_python_version | regex_replace("([2-3])\.([0-9]*)\..*$","\1\2") }}-pymongo'
        state: absent
    - pip:
        name: pymongo
        state: present

- name: zfs
  zfs:
    name: '{{ mongo_zfs }}'
    state: present
    extra_zfs_properties:
      compression: on
      mountpoint: '{{ mongo_dbpath }}'
  register: mongonewzfs
  when: mongo_zfs is defined and not mongoadmin.stat.exists

- name: chown
  file:
    path: '{{ mongo_dbpath }}'
    owner: mongodb
    group: mongodb
    recurse: yes
  when: not mongoadmin.stat.exists or mongonewzfs.changed | default(False)

- name: /etc/rc.conf
  lineinfile:
    line: 'mongod_flags="--setParameter=disabledSecureAllocatorDomains=\*"'
    regexp: '^mongod_flags='
    dest: /etc/rc.conf

- name: check fqdn in /etc/hosts
  command: 'grep "^127\.0\..* {{ ansible_fqdn }}" /etc/hosts'
  register: etchosts
  changed_when: False
  failed_when: false

- name: patch /etc/hosts
  replace:
    path: /etc/hosts
    regexp: '^(127\.0.*localhost.*)$'
    replace: '\1 {{ ansible_fqdn }}'
  when: etchosts.stdout_lines | count < 1

- name: stat mongo root pass
  stat:
    path: /root/mongoroot
  register: rootpass
  when: ansible_hostname == ansible_play_hosts[0]

- name: test root pass
  mongodb_info:
    login_user: '{{ mongo_root_user }}'
    login_password: '{{ mongo_root_pass }}'
    filter: databases,users
  ignore_errors: true
  register: mongoroottest
  when: not mongo_replication_set | default(False) or ansible_hostname == ansible_play_hosts[0]

- name: show mongo infos
  debug:
    var: mongoroottest
  when: mongoroottest | default(False)

- name: set_fact rootpass
  set_fact:
    rootpass: '{% if rootpass.stat %}{{ rootpass.stat.exists }}{% elif mongoroottest.failed %}False{% endif %}'  
  when: not mongo_replication_set | default(False) or ansible_hostname == ansible_play_hosts[0]

- name: root done
  set_fact:
    root_done: '{% if mongo_replication_set %}{{ hostvars[ansible_play_hosts[0]].rootpass }}{% else %}{{ rootpass }}{% endif %}'

- name: config
  copy:
    dest: '{{ etcprefix }}/etc/mongodb.conf'
    content: |
      # ansible
      storage:
          dbPath: '{{ mongo_dbpath }}'
          directoryPerDB: true
          journal:
              enabled: true
      systemLog:
          destination: syslog
          verbosity: 0
          syslogFacility: daemon
      storage:
      {% if mongo_engine == "wiredTiger" %}
          wiredTiger:
              engineConfig:
                  cacheSizeGB: '{{ [ mongo_memlimit | default(ansible_memtotal_mb * 512) / 1024 | int, 10000 ] | min }}'
      {% endif %}
          engine: {{ mongo_engine }}
      processManagement:
          timeZoneInfo: /usr/share/zoneinfo
      {% if mongo_replication_set %}
      replication:
          replSetName: {{ mongo_replication_set }}
      {% endif %}
      security:
      {% if mongo_replication_set %}
          keyFile: /var/db/mongodb/keyfile
      {% endif %}
          authorization: {% if root_done %}{{ mongo_auth }}
      {% else %}disabled
      {% endif %}
      net:
          ipv6: true
      {% if mongo_replication_set %}
          bindIpAll: true
      {% endif %}
    backup: yes
  notify: restart mongodb

- name: initiate replication keyfile
  block:
    - name: get keyfile
      fetch:
        fail_on_missing: false
        src: '{{ mongo_dbpath }}/keyfile'
        dest: /tmp/mongo_keyfile
        flat: yes
      check_mode: False
    - name: create keyfile
      shell: 'openssl rand -base64 756 > /tmp/mongo_keyfile'
      args:
        creates: /tmp/mongo_keyfile
      delegate_to: localhost
      check_mode: False
    - name: copy keyfile
      copy:
        dest: '{{ mongo_dbpath }}/keyfile'
        src: '/tmp/mongo_keyfile'
        owner: mongodb
        mode: '0500'
        force: no
  when: mongo_replication_set | default(False)

- name: mongodb started
  service:
    name: mongod
    state: started
    enabled: yes

- name: initiate replication set
  block:
    - name: initiate replication set
      mongodb_replicaset:
        replica_set: '{{ mongo_replication_set }}'
        members: '{{ ansible_play_hosts | join(",") }}'
        arbiter_at_index: '{{ ansible_play_hosts | count() - 1 }}'
#        validate: no
      run_once: yes
      register: initrepl
    - name: Wait for the replicaset to stabilise
      community.mongodb.mongodb_status:
        replica_set: '{{ mongo_replication_set }}'
        poll: 5
        interval: 10
  when: mongo_replication_set | default(False) and not root_done

- name: check replicaset
  block:
    - name: check replication set
      mongodb_replicaset:
        replica_set: '{{ mongo_replication_set }}'
        members: '{{ ansible_play_hosts | join(",") }}'
        login_user: '{{ mongo_root_user }}'
        login_password: '{{ mongo_root_pass }}'
        arbiter_at_index: '{{ ansible_play_hosts | count() - 1 }}'
#        validate: no
      run_once: yes
  when: mongo_replication_set | default(False) and root_done

- name: check root
  mongodb_user:
    name: '{{ mongo_root_user }}'
    database: admin
    password: '{{ mongo_root_pass }}'
    create_for_localhost_exception: /root/mongoroot
    roles:
      - root
#      - dbAdminAnyDatabase
#      - userAdminAnyDatabase
  register: mongoroot
  when: not mongo_replication_set | default(False) or ansible_hostname == ansible_play_hosts[0]

- name: lineinfile
  lineinfile:
    path: '{{ etcprefix }}/etc/mongodb.conf'
    line: '    authorization: {{ mongo_auth }}'
    regexp: '^    authorization:'
    insertafter: '^  security:'
  when: not root_done

- name: restart mongo
  service:
    name: mongod
    state: started
  when: not root_done

#- name: get infos
#  community.mongodb.mongodb_info:
#    login_user: '{{ mongo_root_user }}'
#    login_password: '{{ mongo_root_pass }}'
#  register: mongoinfos
#
#- debug:
#    var: mongoinfos

- name: mongos
  include_tasks: 'mongo.yml'
  loop: '{{ mongo_global_users + mongos }}'
  loop_control:
    loop_var: mongo
    label: '{{ mongo.name }}'
  when: not mongo_replication_set | default(False) or ansible_hostname == ansible_play_hosts[0]
