---
# tasks file for criecm.samba
- name: OS vars
  include_vars: '{{ includefile }}'
  with_first_found:
    - files:
        - '{{ ansible_os_family }}.yml'
      skip: True
  loop_control:
    loop_var: includefile
  tags: samba, vars

- name: check smbd
  command: 'which smbd'
  register: which_smbd
  check_mode: False
  changed_when: False
  ignore_errors: True
  tags: vars,samba

- name: OS tasks
  include_tasks: '{{ includefile }}'
  with_first_found:
    - files:
        - 'install-{{ ansible_os_family }}.yml'
      skip: True
  loop_control:
    loop_var: includefile
  when: samba_upgrade or ( which_smbd.rc > 0 )
  tags: samba,install,config

- name: mkdir smb.conf.d
  file:
    dest: '{{ smbconf_path }}.d'
    state: directory
  tags: samba,shares,config

- name: mkdir & co
  include_tasks: share.yml
  with_items:
    - '{{ shares }}'
    - '{{ group_shares }}'
  loop_control:
    loop_var: share
  when: '"cifs" in share and share.cifs'
  tags: samba,shares

- name: remove ansible_shares.conf
  file:
    path: '{{ smbconf_path }}.d/ansible_shares.conf'
    state: absent
  tags: samba, config

- name: smb.conf
  template:
    src: smb.conf.j2
    dest: '{{ smbconf_path }}'
    mode: '0640'
    validate: 'testparm -s %s'
    backup: yes
  tags: samba, config
  register: newconf
  notify: reload samba

- name: schemaupgrade if upgrade
  command: 'samba-tool domain schemaupgrade'
  when: smb_ad_realm | length > 0 and smb_is_pdc

- name: root mapping configuration
  copy:
    dest: '{{ smb_global_params["username map"] }}'
    content: |
      !root = {{ smb_domain }}\Administrator
    force: no
  when: smb_domain | length > 0 and smb_ad_realm | length > 0 and not is_dc and 'username map' in smb_global_params

- name: get AD domain status
  command: net ads testjoin
  register: testjoin
  when: smb_ad_realm | length > 0 and not is_pdc

- name: join AD domain
  command: 'net ads join -U {{ samba_join_user }}%{{ samba_join_passwd }}'
  when: samba_join_user | length > 0 and smb_ad_realm | length > 0 and testjoin.rc != 0
  tags: samba, config

- name: save NT4 ldap passwd (IDMAP)
  command: 'net idmap set secret {{ smb_domain }} {{ smb_ldap_readpw | default(smb_ldap_adminpw) }}'
  when: newconf.changed and smb_domain | length > 0 and not smb_ad_realm | length > 0
    and ( smb_ldap_adminpw is defined or smb_ldap_readpw is defined ) and is_dc and not smb_is_pdc
  tags: samba, config

- name: save NT4 ldap adminpw
  command: 'smbpasswd -w {{ smb_ldap_adminpw }}'
  when: is_dc and newconf.changed and smb_ldap_adminpw | length > 0 and not smb_ad_realm | length > 0
  tags: samba, config

- name: smbldap-tools if NT4 pdc
  block:
    - name: config smbldap-tools
      template:
        src: smbldap.conf.j2
        dest: '{{ smbldap_conf_dir }}/smbldap.conf'
      tags: samba, smbldap
    - name: privconf smbldap-tools
      template:
        src: smbldap_bind.conf.j2
        dest: '{{ smbldap_conf_dir }}/smbldap_bind.conf'
        mode: '0600'
      tags: samba, smbldap
  when: smb_is_pdc | bool and not smb_ldapsam_editposix and not smb_ad_realm | length > 0

- name: NT4 domain info
  command: 'net rpc info -U {{ samba_join_user }}%{{ samba_join_passwd }}'
  when: samba_join_user | length > 0 and newconf.changed and not smb_ad_realm | length > 0
  register: rpcinfo
  failed_when: False
  changed_when: False
  check_mode: False
  tags: samba, config

- name: join NT4 domain
  command: 'net rpc join -U {{ samba_join_user }}%{{ samba_join_passwd }}'
  when: samba_join_user | length > 0 and not smb_ad_realm | length > 0 and newconf.changed and rpcinfo.rc != 0 
  tags: samba, config

- name: enable services
  service:
    name: '{{ service }}'
    enabled: yes
  with_items: '{{ samba_service_names }}'
  loop_control:
    loop_var: service
  tags: samba, config
