---
- name: get installed samba
  command: 'pkg query -x %n samba[0-9][0-9]'
  register: samba_pkg_actual
  changed_when: False
  check_mode: False
  failed_when: False

- name: set samba package name
  set_fact:
    smb_new_pkg: "samba{{ smb_version|replace('.', '') }}"

- name: register version
  set_fact:
    samba_pkg: '{% if samba_pkg_actual.rc != 0 or 
              samba_pkg_actual.stdout_lines[0] != smb_new_pkg %}{{ smb_new_pkg }}{% else
              %}{{ samba_pkg_actual.stdout }}{% endif %}'

- name: show versions
  debug:
    msg: 'Actual version: {{ samba_pkg_actual.stdout }} Wanted: {{ smb_new_pkg }} Will install: {{ samba_pkg }}'

- name: stop samba
  service:
    name: samba_server
    state: stopped
  when: samba_pkg_actual.rc == 0 and samba_pkg != samba_pkg_actual.stdout
  tags: samba, pkg, upgrade

- name: install samba
  pkgng:
    name: '{{ samba_pkg }}'
    state: '{% if samba_upgrade | default(False) %}latest{% else %}present{% endif %}'
  register: samba_pkg_upgrade
  tags: samba, pkg

- name: installe smbldap-tools
  pkgng:
    name: smbldap-tools
    state: present
  tags: samba, pkg
  when: is_dc and not smb_ldapsam_editposix and not smb_ad_realm | length > 0

- name: enable winbind
  lineinfile:
    dest: /etc/rc.conf
    line: 'winbindd_enable="YES"'
    regexp: '^winbindd_enable'
    state: present
  tags: samba, rc
  when: not is_dc
