---
# cron vars
- name: cron vars
  cron:
    name: '{{ cronvar.key }}'
    value: '{{ cronvar.value }}'
    env: True
    user: root
  tags: crons
  when: cronvars
  with_dict: '{{ cronvars }}'
  loop_control:
    loop_var: cronvar

# crons
- name: crons
  cron:
    job: '{{ cron.job | default(omit) }}'
    minute: '{{ cron.minute | default(omit) }}'
    hour: '{{ cron.hour | default(omit) }}'
    day: '{{ cron.day | default(omit) }}'
    env: '{{ cron.env | default(omit) }}'
    month: '{{ cron.month | default(omit) }}'
    special_time: '{{ cron.special_time | default(omit) }}'
    user: '{{ cron.user | default(omit) }}'
    weekday: '{{ cron.weekday | default(omit) }}'
    name: '{{ cron.name | default(omit) }}'
    state: '{{ cron.state | default("present") }}'
  with_items: '{{ crons | union(host_crons) | union(role_crons) }}'
  loop_control:
    loop_var: cron
  tags: crons
  when: crons | union(host_crons) | union(role_crons) | count > 0
