# {{ ansible_managed }}
<VirtualHost {% if site.listen | regex_match(':') %}{{ site.listen }}{% else %}*:{{ site.listen }}{% endif %}>
  ServerName {{ site.name }}
{% if "aliases" in site and site.aliases | count() > 0 %}
{% for alias in site.aliases %}
  ServerAlias {{alias}}
{% endfor%}
{% endif %}
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" pcombined
  CustomLog "|/usr/bin/logger -h syslog.serv.int -p local3.info" pcombined

  DocumentRoot {% if site.rootdir %}{{ site.rootdir }}{% else %}{{ apache_rootbase }}/{{ site.id }}{% endif %}

{% for include in site.apache_includes %}
  Include {{ apache_etcdir }}/{{ include }}
{% endfor %}

  <Directory {% if site.rootdir %}{{ site.rootdir }}{% else %}{{ apache_rootbase }}/{{ site.id }}{% endif %}>
    Require all granted
  </Directory>

</VirtualHost>

