---
- name: set pool name
  set_fact:
    poolname: '{% if ansible_os_family == "OpenBSD" %}servers{% else %}pool{% endif %}'
    iburst: '{% if ansible_os_family == "OpenBSD" %}{% else %} iburst{% endif %}'

- name: get ntp config
  slurp:
    src: '{{ time_client_config }}'
  register: slurpntpconf
  changed_when: False
  check_mode: False

- name: get ntp vars
  set_fact:
    already_ntp_servers: "{{ slurpntpconf['content'] | b64decode | split('\n') | select('match','^server ') | map('regex_replace','^server *','') }}"
    already_ntp_pools: "{{ slurpntpconf['content'] | b64decode | split('\n') | select('match','^'+poolname+' ') | map('regex_replace','^'+poolname+' *','') }}"
    already_listen: "{{ slurpntpconf['content'] | b64decode | split('\n') | select('match','^interface listen ') | map('regex_replace','^interface listen *','') }}"
    already_min_clock: "{{ slurpntpconf['content'] | b64decode | split('\n') | select('match','^tos minclock') | map('regex_replace','^tos minclock *','') | map('regex_replace',' .*$','') }}"

- name: remove listen addresses
  lineinfile:
    path: '{{ time_client_config }}'
    regex: '^interface listen {{ address }}'
    state: absent
  when: not address in ntp_listen_addrs
  loop: '{{ already_listen }}'
  loop_control:
    loop_var: address
  notify: restart time_client

- name: add listen addresses
  lineinfile:
    path: '{{ time_client_config }}'
    line: 'interface listen {{ address }}'
    state: present
  when: not address in already_listen
  loop: '{{ ntp_listen_addrs }}'
  loop_control:
    loop_var: address
  notify: restart time_client

- name: remove ntp server
  lineinfile:
    path: '{{ time_client_config }}'
    regexp: '^server +{{ ntpserver }}'
    state: absent
  loop: '{{ already_ntp_servers | map("regex_replace"," .*","") }}'
  loop_control:
    loop_var: ntpserver
    label: '{{ ntpserver }}'
  when: ( ntp_servers | count() > 0 or ntp_pools | count() > 0 ) and not ntpserver in ntp_servers | map("regex_replace"," .*","")
  notify: restart time_client

- name: add ntp server
  lineinfile:
    path: '{{ time_client_config }}'
    line: 'server {{ ntpserver }}{{ iburst }}'
    regexp: '^server +{{ ntpserver }}.*'
    state: present
  loop: '{{ ntp_servers }}'
  loop_control:
    loop_var: ntpserver
    label: '{{ ntpserver }}'
  notify: restart time_client

- name: remove ntp pool
  lineinfile:
    path: '{{ time_client_config }}'
    regexp: '^{{ poolname }} +{{ ntppool }}.*'
    state: absent
  loop: '{{ already_ntp_pools | map("regex_replace"," .*","") }}'
  loop_control:
    loop_var: ntppool
    label: '{{ ntppool }}'
  when: ( ntp_servers | count() > 0 or ntp_pools | count() > 0 ) and not ntppool in ntp_pools | map("regex_replace"," .*","")
  notify: restart time_client

- name: add ntp pool
  lineinfile:
    path: '{{ time_client_config }}'
    line: '{{ poolname }} {{ ntppool }}{{ iburst }}'
    regexp: '^pool +{{ ntppool }}.*'
    state: present
  loop: '{{ ntp_pools }}'
  loop_control:
    loop_var: ntppool
    label: '{{ ntppool }}'
  notify: restart time_client

- name: set minclock
  lineinfile:
    path: '{{ time_client_config }}'
    line: 'tos minclock {{ ntp_tos_min_clock }} minsane {{ ntp_tos_min_sane_clock }} maxclock {{ ntp_tos_max_clock }}'
    regexp: '^tos minclock'
    state: present
  when: already_min_clock | default(ntp_tos_min_clock) != ntp_tos_min_clock
  notify: restart time_client
