# {{ ansible_managed }}
server {
	server_name {{ netmagis_http_host }};
	listen 80;
	root {{ www_default_root }};
{% if proxified_by %}
	set_real_ip_from {{ proxified_by }};
	real_ip_header X-Forwarded-For;
{% endif %}
	location /netmagis/css {
	        alias /usr/local/lib/netmagis/htg/models/default/css;
	}
	location ~* ^/netmagis/([a-z]+)$ {
	        include https_fastcgi_params;
	        fastcgi_param SCRIPT_FILENAME /usr/local/www/netmagis/$1;
	        fastcgi_pass {{ netmagis_socket }};
	}
	location ~* ^/netmagis/$ {
	        rewrite .* /netmagis/index;
	}
}
