# {{ ansible_managed }}
autoload -Uz compinit
compinit
[ -r /usr/local/admin/sysutils/common/rootlogin.env.sh ] && . /usr/local/admin/sysutils/common/rootlogin.env.sh
[ -r /usr/local/admin/sysutils/common/shell_aliases ] && . /usr/local/admin/sysutils/common/shell_aliases
PS1='%n@%m# '
HISTFILE=~/.zsh_history
SAVEHIST=100000
setopt APPEND_HISTORY
[ -f ~/.aliases ] && . ~/.aliases
