# {{ ansible_managed }}
# {{ share }}
{% if "cifs" in share and share.cifs %}
[{{ share.name }}]
  path = {{ share.path }}
{%   for e,v in share.smbparms.items() %}
  {{ e }} = {{ v }}
{%   endfor %}

{% endif %}
