# {{ ansible_managed }}
# {{ share }}
{% if "cifs" in share and share.cifs %}
[{{ share.name }}]
{%   if not "path" in share.smbparms.keys() %}
  path = {{ share.path }}
{%   endif %}
{%   for e,v in share.smbparms.items() %}
  {{ e }} = {{ v }}
{%   endfor %}

{% endif %}
