server:
{% for ip in nsd_adresses %}	ip-address: {{ip}}
{% endfor %}
{% if nsd_port != 53 %}	port {{ nsd_port }}{% endif %}
	verbosity: 1
	zonesdir: {{ nsd_zonesdir }}
	database: {{ nsd_dbdir }}/nsd.db
	identity: "our nameserver"

remote-control:
	control-enable: yes
	control-port: 8952

include: {{ nsd_configdir }}/conf.d/*.conf
