# {{ ansible_managed }}
option domain-name "{{ dhcpd_default_domain }}";
option domain-name-servers {{ dhcpd_default_dns }};
default-lease-time {{ dhcpd_default_lease_time }};
max-lease-time {{ dhcpd_max_lease_time }};
authoritative;
ddns-update-style none;
log-facility {{ dhcpd_log_facility }};
option fqdn.no-client-update true;
deny client-updates;
get-lease-hostnames true;
lease-file-name "{{ dhcpd_leases_dir }}/dhcpd.leases";
include "{{ dhcpd_includesdir | regex_replace('^'+dhcpd_chrootdir,'') }}/dhcpd.local.conf";
