---
# packages ecm
- name: pkg boostrap
  ansible.builtin.command:
    cmd: 'env ASSUME_ALWAYS_YES=yes pkg bootstrap'
    creates: /usr/local/sbin/pkg
  check_mode: False

- name: 'pkg repo {{ pkg_repo_conf }}'
  block:
    - name: mkdir pkgrepo
      file:
        path: /usr/local/etc/pkg/repos
        state: directory
        mode: '0755'
    - name: pkg repo ecm
      copy:
        src: '{{ pkg_repo_conf }}'
        dest: '/usr/local/etc/pkg/repos/{{ pkg_repo_conf | regex_replace(".*/", "") }}'
        validate: 'pkg -vv -C %s'
        mode: '0644'
  when: pkg_repo_conf | length > 0
  tags: pkgs

- name: pkg update
  command: 'pkg update -f'
  changed_when: False
  check_mode: False
  environment:
    IGNORE_OSVERSION: 'yes'

- name: upgrade pkgs
  command: 'pkg upgrade -fy'
  when: do_upgrade | default(False) | bool

# packages standard
- name: pkgs
  pkgng:
    name: '{{ freebsd_base_pkgs + host_pkgs + role_pkgs + group_pkgs + pkgs }}'
    state: '{% if do_upgrade | default(False) %}latest{% else %}present{% endif %}'
  register: pkg_result
  tags: pkgs
  notify: post-upgrade

- name: pkgs pkg machine physique
  pkgng:
    name:
      - dmidecode
      - ipmitool
    state: present
  when: not is_jail | bool and not is_vm | bool
  tags: pkgs

- name: force setup after pkg upgrade
  ansible.builtin.setup:
    gather_subset: [ "min" ]
  when: do_upgrade | default(False) | bool
