---
- name: install munin master
  include_tasks: '{{ ansible_os_family }}-master.yml'

- name: config master
  lineinfile:
    dest: '{{ munin_etcdir }}/munin.conf'
    line: '{{ item.key }} {{ item.value }}'
    regexp: '^{{ item.key }} '
    insertafter: '^include'
  with_dict:
    dbdir: "{{ munin_dbdir | default(munin_default_dbdir) }}"
    htmldir: "{{ munin_htmldir | default(munin_default_htmldir) }}"
    rrdcached_socket: "/var/run/rrdcached.sock"
    cgitmpdir: "/var/munin/cgi-tmp"
    graph_strategy: "cgi"
    html_strategy: "cgi"
    munin_cgi_graph_jobs: "8"
    cgiurl_graph: "{{ munin_base_url }}/cgi-graph"
    max_graph_jobs: "10"
    max_processes: "12"
    #timeout_fetch_all_nodes: "240"
    #timeout_fetch_one_node: "180"

- name: munin user
  user:
    name: munin
    group: munin
    generate_ssh_key: yes
    ssh_key_comment: munin async user
    shell: /bin/sh

- name: ssh munin config
  copy:
    dest: '~munin/.ssh/config'
    content: |
      Host *
        IdentityFile /var/munin/.ssh/id_rsa
        ForwardX11 no
        StrictHostKeyChecking accept-new

- name: munin-cgi tmp dir
  file:
    path: /var/munin/cgi-tmp
    state: directory
    mode: '6751'
    owner: www
    group: www

- name: list installed hosts
  find:
    paths: [ '{{ munin_etcdir }}/munin-conf.d' ]
    patterns: [ 'ansible-host-*' ]
  register: hlist

- name: supress hosts not in inventory
  file:
    dest: '{{ munin_etcdir }}/munin-conf.d/ansible-host-{{ item }}'
    state: absent
  when: do_cleanup and hlist | count() > 1 and item not in groups.all
  with_items: '{{ hlist.files | regex_replace("^.*ansible-host-","") }}'

#- name: list installed aggregation templates
#  find:
#    paths: [ '{{ munin_etcdir }}/munin-conf.d' ]
#    patterns: [ 'ansible-aggr-*' ]
#  register: alist

- name: install aggregation templates
  template:
    src: '{{ item }}'
    dest: '{{ munin_etcdir }}/munin-conf.d/ansible-aggr-{{ item | basename | regex_replace("^([^\.]*).*","\1") }}.conf'
    force: yes
  with_items: '{{ munin_aggr_templates }}'
#  register: ialist

#- name: supress aggregation not anymore in current templates/aggr/*
#  file:
#    path: '{{ munin_etcdir }}/munin-conf.d/ansible-aggr-{{ item }}'
#    state: absent
#  when: do_cleanup and alist.rc == 0 and item not in ialist.stdout_lines | map(attribute="item") | list()
#  with_items: '{{ alist.files | regex_replace("^.*ansible-aggr-","") }}'
